.blog{
    border: 0;
    border-radius: 15px;
}

.blog:hover{
    border: 3px solid blue;
}

.blog.blog_cards_block{
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    z-index: 20;
    top: 10px;
}


.blog.blog_card{
    height: 200px;
    width: 200px;
    position: relative;
    border: 1px;
    overflow: hidden;
}

.blog_img{
    width: 200px;
    height: 200px;
    transition: transform .5s ease-in-out;
}

.blog_img:hover{
    transform: scale(1.5);
}