* {
  margin: 0;
  padding: 0;
}


html {
  /* height: 100%; */
}

::-webkit-scrollbar {
  /* width: 10px; */
}

/* 
body {}

.blue {
  font-size: 1rem;
}

.hero__block {
  font-size: 1rem;
  background: #641d50;
  height: 100dvh;
  width: 50%;
}

.hero__text {
  background-color: #939393;
  width: calc(50vw - 10px);
}

p {
  font-size: 1em;
}

.input {
  margin: 25px;
  pointer-events: all;
} */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main__header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #d1d0d0;
}

.header__wrapper {
  max-width: 768px;
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 1.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__nav__item {
  position: relative;
  cursor: pointer;
  padding: .25rem 0;
}

.header__nav__item:hover {
  background-color: #bababa;
}

.nav__dropdown {
  position: absolute;
  right: 0;
  top: 110%;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  background-color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1px #00000044;

  scale: 0;
  transition: all .33s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.nav__dropdown p:hover {
  background-color: #55b8f2;
}

.header__nav__item:focus .nav__dropdown {
  scale: 1;
  opacity: 1;
  pointer-events: all;
}


.scale__block {
  height: 200px;
  background-color: #b4b4b4;
  transition: all .33s ease-in-out;
}

.scale__block:hover {
  /* height: 500px; */
  scale: 1.5;
}