*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.lesson__title {
  border: 1px solid #000;
  border-radius: .5rem;
  max-width: 250px;
  text-align: center;
  margin: 1rem auto;
}


.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .swiper_slide_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  color: #cbf426 !important;
}

.test {
  color: #000;
  text-decoration: none;
}