.test{
    content: "fdfdfdfdf";
}

.test::after{
    content: "fdfdfdfdf";
    visibility: revert;
    font-weight: bold;
    font-size: 18px;
    /*font-family: "Droid Serif";*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    left: 250px;
}

a:hover {
    cursor: auto;
}

[alert_data]::after {
    content: attr(alert_data);
    position: absolute;
    background-color: #e10b2b;
    border-radius: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    /*left: 0;*/
    /*top: 0;*/
    /*width: 15px;*/
    /*font-size: 15px;*/
}

.alert_button {
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
}