.table{
    box-sizing: border-box;
    background: antiquewhite;
    padding: 20px;
}

.items_wrapper{
    border: 1px solid darkseagreen;
    width: 220px;
    height: 230px;
    border-radius: 15px;
    background-color: grey;
    overflow: hidden;
    cursor: pointer;
}

/*.items{*/
/*    width: 200px;*/
/*    height: 150px;*/
/*    overflow: hidden;*/
/*}*/

.img_wrapper{
    border: 1px solid darkseagreen;
    border-radius: 15px;
    width: 100%;
    height: 80%;
    overflow: hidden;

}

.img{
    width: 100%;
    height: auto;
    transition: transform .5s ease-in-out;
}

.img_wrapper:hover .img{
    transform: scale(120%);
}

.btn{
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3638b7;
    cursor: pointer;
}

.btn:hover{
    transition: transform .5s ease-in-out;
    border-radius: 15px;
    background-color: #e10b2b;
}

/*.btn:hover .btn_hover{*/
/*    transform: scale(1.2);*/
/*}*/

.quantity{
    width: 30px;
    height: 20px;
    border: 1px #ddd solid;
    border-radius: 5px;
    background-color: darkgrey;
}