.news__cards__block {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.news__card {
  position: relative;
  width: calc(33% - 5px);
  min-width: 275px;
  max-width: 315px;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 15px;
  z-index: 1;
}

.news__card .news__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.news__card .news__card__footer {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.news__card__footer .news__card__button {
  width: 50%;
}