.btn {
    width: 160px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0; */
    border-radius: 10px;
    background-color: #F6762C;
    position: relative;
    transition: all .5s ease-in-out;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}


.btn:hover {
    /* transform: ; */
    background-color: #ff5e00;
    border-radius: 25px;
    opacity: .8;
    
}

/* .btn::after {
    content: 'ORDER NOW';
    visibility: hidden;
} */


[test_op]::after{
    content: attr(test_op);
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 20px;
    aspect-ratio: 1;
    background-color: red;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
