.main {
}

.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    padding: 240px 0;
    margin-top: -100px;

    background-image: url(../../images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    font-size: 14px;
    margin-bottom: 7px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.welcome__title {
    font-size: 58px;
}


.welcome__desc {
    font-size: 18px;
    opacity: 0.7;
    margin: 40px 0;
}