button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 7px 15px;
}

.btn.btn__main {
  color: #fff;
  background-color: #0393fb;
  border-radius: 5px;
  transition: all .33s ease-in-out;
}

.btn.btn__main:hover {
  background-color: #34a6f8;
}

.btn.btn__outline {
  border: #262626 1px solid;
  border-radius: 5px;
  transition: all .33s ease-in-out;
}