.news_cards_block{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.news__card{
    /*width: 33%;*/
    width: calc(33% - 5px);
    min-width: 270px;
    max-width: 315px;
    border: 2px solid #000;
    border-radius: 7px;
    padding: 15px;
}

.news__card .news__card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.news__card .news__card__footer{
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.news__card .news__card__button{
    width: 50%;
}

