.main__header {
  position: sticky;
  top: 0;
  background-color: rgb(var(--primary-color));
  padding: .5rem 0;
  box-shadow: 0 0 1rem .5rem rgba(var(--foreground-color), .25);
  border-radius: 0 0 .5rem .5rem;
  z-index: 10;
}

.main__header .main__header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__header .main__header__logo {
  font-size: 1.5rem;
  color: rgb(var(--bg-color));
}

.main__header .main__header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__header .main__header__nav {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.main__header .header__nav__link {
  color: rgb(var(--bg-color));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main__header .shopping__cart__btn {
  position: relative;
  background-color: transparent;
  color: rgb(var(--bg-color));
  border: 1px solid rgb(var(--bg-color));
  border-radius: .25rem;
  padding: .15rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;

  & img {
    width: 100%;
    height: 100%;
  }

  &[data-count]::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.25rem;
    right: -.25rem;
    background-color: rgb(var(--bg-color));
    color: rgb(var(--primary-color));
    font-size: .5rem;
    width: .75rem;
    height: .75rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}