.products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.products .product__card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  border: 1px solid rgb(var(--primary-color), .5);
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem .05rem rgba(var(--foreground-color), .15);
}

.products .product__card .product__title {
  margin-top: 1rem;
  margin-left: .5rem;
  max-width: 90%;
}

.product__card[data-in-cart="true"] .product__cart__action__btn[data-cart-action="add_to_cart"] {
  display: none;
}

.product__card[data-in-cart="false"] .product__cart__action__btn[data-cart-action="delete_from_cart"] {
  display: none;
}

.products .product__card .product__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.products .product__card .product__pay {
  position: absolute;
  width: 100%;
  bottom: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1;
}

.products .product__cart__action__btn {
  background-color: rgb(var(--primary-color), .75);
  color: rgba(var(--bg-color));
  border: none;
  padding: .25rem .5rem;
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(var(--primary-color), 1);
  }
}

.products .product__card .product__info {
  position: absolute;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.products .product__card .product__info__icon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--primary-color), .5);
  color: rgb(var(--bg-color));
  border-radius: 50%;
  cursor: help;
}

.products .product__card .product__info:hover .product__info__icon {
  background: rgb(var(--primary-color), .75);
}

.products .product__card .product__ingridients {
  background-color: rgb(var(--bg-color));
  padding: .5rem;
  position: absolute;
  top: 100%;
  right: 50%;
  width: 150px;
  list-style-position: inside;
  border-radius: .75rem;
  box-shadow: 0 0 2rem .05rem rgba(var(--foreground-color), .15);
  font-size: .66rem;
  transition: opacity .33s ease-in-out;

  opacity: 0;
  pointer-events: none;
}

.products .product__card .product__info:hover .product__ingridients {
  opacity: 1;
  pointer-events: all;
}