*{
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: antiquewhite;
}

h1 {
    text-align: center;
}


.hello-user{
    text-align: center;
    color: black;
}


.img_wrapper{
    width: 30%;
    height: 30%;
    overflow: hidden;
    margin: 50px 0;
}


.img{
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.img_wrapper:hover .img {
    transform: scale(150%);
}


.text-paragraph{
    width: 400px;
    height: 100px;
    /*background: rgb(107, 96, 103);*/
    border: 5px solid green;
    padding: 10px;
    overflow: auto;
}


.error-paragraph {
    color: red;
    /* text-align: center; */
}


.primary-paragraph {
    color: green;
    /* text-align: center; */
}


.text{
    width: 400px;
    height: 100px;
    background: rgb(107, 96, 103);
    border: 5px solid green;
    padding: 25px;
    overflow: auto;
}


.loader {
    border: 15px red solid;
    border-bottom-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }

}


.btn {
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    /* color: hsla(100%, 100%, 100%, 70%); */
    outline: 0;
    padding: 5px;
    margin: 5px;
    /* background: linear-gradient(90deg, #f09, #00f); */
    background-color: #f09;
    cursor: pointer;
    transition: all 3s;
}

.btn:hover{
    border-radius: 20px;
    background-color: rgb(234, 0, 255);
}

.btn:active{
    background-color: white;
}