@import url(./components/blog_cards.css);

/* Для кнопок ничего не придумал еще */
@import url(./components/buttons.css);

*{
    background-color: beige;
}


.container{
    padding-left: 20px;
    padding-right: 20px;
}

header{
    height: 70px;
    display: flex;
    position:sticky;
    top: 10px;
    right: 0;
    z-index: 50;
    background-color: #e10b2b;
}

.nav{
    position: relative;
    display: flex;
}


body{
    height: 200vh;
}

