/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url(./components/header.css);
@import url(./components/button.css);
@import url(./components/main.css);

@font-face {
    font-family: 'Roboto';
    src: url('../.././fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}


body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #1c1c1c;
  color: #fff;
  /* height: 2000px; */
  min-width: 650px;
  padding: 25px 0px;
  /* user-select: none; */
}


a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    /* user-select: none; */
}

a:hover{
    color:beige;
}


/* a:current{
    color: red
} */

/* a:visited{
    color:black;
} */


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

/* img {
    max-width: 100%;
} */






.food-list {
}

.food-list .container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.food-list__card {
    width: 260px;
    background-color: #312F30;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__title {
    font-size: 20px;
}

.food-list__desc {
    font-size: 16px;
    opacity: .7;
    /* padding: 0 20px; */
}


.food-list__text-wrapper {
    padding: 10px 20px;
    height: 110px;
}


.food__select {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-bottom: 20px;
}

.food__btn {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

.food__quantity {
    width: 40px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    opacity: .5;
}
