.shopping__cart[data-open="false"] {
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
}

.shopping__cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000061;
  backdrop-filter: blur(3px);
  transition: all .33s ease-in-out;

  z-index: 10;
}

.shopping__cart[data-open="false"] .cart__window {
  scale: 0;
  top: 0%;
  right: 0%;
  transform: translate(200%, -150%);
}

.shopping__cart .cart__window {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 95%;
  height: 95%;
  max-width: 500px;
  max-height: 500px;
  background-color: rgb(var(--bg-color));
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem .5rem rgba(var(--foreground-color), .25);
  transition: all .33s ease-in-out;
  overflow-y: auto;
}

.shopping__cart .cart__window .cart__products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shopping__cart .cart__window .product__card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping__cart .cart__window .product__card .product__cover {
  width: 150px;
}

.shopping__cart .cart__window .product__card .product__cart__action__btn {
  background-color: rgb(var(--primary-color), .75);
  color: rgba(var(--bg-color));
  border: none;
  padding: .25rem .5rem;
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(var(--primary-color), 1);
  }
}

.shopping__cart .shopping__cart__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(var(--foreground-color), .25);
}

.shopping__cart__actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.shopping__cart .shopping__cart__pay__btn,
.shopping__cart .shopping__cart__close__btn {
  background-color: rgb(var(--primary-color), .75);
  color: rgba(var(--bg-color));
  border: none;
  padding: .25rem .5rem;
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(var(--primary-color), 1);
  }
}

.shopping__cart .shopping__cart__close__btn {
  background-color: transparent;
  color: rgba(var(--foreground-color), .75);
  border: 1px solid rgba(var(--foreground-color), .75);

  &:hover {
    color: rgba(var(--foreground-color), 1);
    background-color: transparent;
    border: 1px solid rgba(var(--foreground-color), 1);
  }
}