@import url(./reset.css);
@import url(./components/button.css);
@import url(./components/news-card.css);



.test__main {}

.test {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.test-1 {
  background-color: red;
}

.test-2 {
  background-color: green;
}

.test-3 {
  background-color: blue;
}

.test-4 {
  background-color: orange;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #ae45456e;
  backdrop-filter: blur(5px);
  z-index: 50;
}

main {
  padding-top: 100px;
  height: 500vh;
}

img {
  filter: brightness(50%) blur(1px);
}

.sticky_container {
  width: 75%;
  height: 200vh;
  background-color: #aeaeae;
  overflow-y: auto;
}

.sticky_element {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 0, 208);
}

.btn__notifications {
  position: relative;
}

[data-notifications]::after {
  content: attr(data-notifications);
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  font-size: 10px;
  aspect-ratio: 1;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-data {
  /* position: relative;
  height: 200px;
  margin-bottom: -220px;
  color: white; */
  /* display: none; */
  /* opacity: 0; */
  /* visibility: hidden; */
  /* background-color: rgba(255, 0, 0, 0.348);
  z-index: 1; */
  /* opacity: .5; */
  position: relative;
  transition: margin .5s, transform 2.5s;
  background-color: rebeccapurple;
}

.test-data:hover {
  left: 50%;
  margin-left: 20%;
  transform: translateX(20%);
}

.test__span {
  color: red;
}

.test__p {
  color: green;
}

.test__p .test__span {
  color: inherit;
}

.test__p.bg-black {
  background-color: black;
}

/* ДОМАШНЕЕ ЗАДАНИЕ №1 */
.test__p>bg-black {
  background-color: blue;
}

/* ДОМАШНЕЕ ЗАДАНИЕ №2 */
.test__p~bg-black {
  background-color: purple;
}

.doc {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a:visited {
  color: red;
}