body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.testimonials {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 10px;
}

.swiper {
  padding: 20px 0;
}

.testimonial {
  text-align: center;
  padding: 20px;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonial h3 {
  margin: 5px 0;
  font-size: 1.1em;
}

.testimonial .title {
  color: #777;
  font-size: 0.9em;
}

.testimonial .stars {
  color: gold;
  font-size: 1.1em;
  margin: 5px 0;
}

.testimonial .text {
  font-style: italic;
  color: #444;
  margin-top: 10px;
}



.swiper-button-next,
.swiper-button-prev {
  color: #000;
}


.swiper-slide {
  width: 220px; /* фиксированная ширина карточки */
}




.swiper-pagination-bullet {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background: #ccc;
  opacity: 1;
  margin: 0 4px !important;
}
.swiper-pagination-bullet-active {
  background: #000;
}
